@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-color: hsl(0, 100%, 74%);
    background-image: url(images/bg-intro-desktop.png);
    width: auto;
    margin: auto;
    min-height: 900px;
}


.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10em 2em;
    height: auto;
}

.copy{
    width: 35em;
    margin: 10em 0;
}

h1{
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 60px;
}

.copy > p{
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.trial{
    background-color: hsl(248, 32%, 49%);
    width: auto;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 1em 8em;
    border-radius: 10px;
    box-shadow: 0px 7px 0px hsl(0, 56%, 61%);
}

.form-des{
    margin: auto 3em;
}

.form-des>div>span{
    font-weight: 300;
}

form{
    display: flex;
    flex-direction: column;
    margin: 2em auto;
    background-color: #fff;
    padding: 2em 3em;
    border-radius: 10px; 
}

input{
    margin: 1em 0;
    padding: 1.5em 1em;
    border-radius: 5px;
    border: rgb(219, 219, 219) 1px solid;

}

button{
    width: max-content;
    padding: 2em 12em;
    background-color: hsl(154, 59%, 51%);
    border: none;
    border-radius: 10px;
    font-weight: 700;
    color: #fff;
    box-shadow: inset 0px -2px 1px hsl(154, 69%, 23%);
}

button:hover{
    background-color: hsl(154, 61%, 68%);

}

form>p{
    font-size: 10px;
    color: hsl(246, 25%, 77%);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    width: max-content;
    margin: auto;
    padding-top: 1em;
}

form>p>span{
    color: hsl(0, 100%, 74%);
}


@media screen and (max-width: 375px){
    .container{
        flex-direction: column;
    }
}